body {
    width: 100vw;
    height: 100vh;
    border-radius: 400px;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    display: flex;


}

.result {
    display: flex;
    width: 400px;
    height: 400px;
    border-radius: 400px;
    background-color: rgb(255,233,233);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

