.container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

body {
    background-image: url("artworks-LcYOMuaaeLhfFOuv-CWPNEQ-t500x500.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}